.HeaderShowcase{
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__img{
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;

    }
    &__title{
        font-family: Glacial Indifference;
        font-style: normal;
        font-size: 24px;
        color: #4D6B62;
        position: relative;
        z-index: 999;
        // @include respond(big-phone) {
        //     white-space: nowrap;
        //     font-size: 18px;

        // } 
    }
}
.cart-title{
  display: flex;
  align-items: center;
  justify-content: center;
    .active-cart-title{
     font-weight: bold;
     text-decoration: underline;

    }
}