.lostpass{
    font-family: Lato;
    font-style: normal;
    font-weight: bold; 
    color: #acc7bf;
    font-size: 14px;
}
.social--login{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgba($color: #999999, $alpha: 0.4);

    .social-login-header{
        width: 100%;
        p{
            font-family: Lato;
            font-style: normal;
            font-weight: bold; 
            color: #222F2B;
            font-size: 14px;
            white-space: nowrap;
            margin: 0 16px;
        }
        .social--login--line{
            height: 0.5px;
            width: 100%;
           background-color: rgba($color: #999999, $alpha: 0.4);
        }
    }
    .social-btn{
        margin: 15px 0;
        padding: 15px 0;
        font-family: Lato;
        font-style: normal;
        font-weight: bold; 
        color: #222F2B;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
      
        .login-icon{
            width: 25px;
           height: 25px;
           background-color: #ffffff;
           border-radius: 3px;
           position: absolute;
    left: 21px;
    top: 10px;
        }
    }

}
.login-icon-facebook{
  background-color: #3b5998;
  i{
      color: #3b5998;
      font-size: 22px;
      transform: translateY(3px);

  }
}
.login-icon-gmail{
   background-color: #4285f4;
}
.logincard__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        font-size: 102px;
        color: #ededed;
        margin: 10px 0;
    }
}
.noaccountyet{
    font-family: Lato;
    font-style: normal;
    font-weight: bold; 
    color: #222F2B;
    font-size: 12px;
    margin-bottom: 10px;
}
.createanaccount{
    font-family: Lato;
    font-style: normal;
    font-weight: bold; 
    color: #222F2B;
    font-size: 13px;
    border-bottom: 2px solid $Primary__color;
    padding: 5px 0;
}