.OrderHistoryTable {
	@include respond(smallest-phone) {
		overflow-x: auto;
	}
	margin-top: 1rem;
	table {
		width: 100%;
		@include respond(smallest-phone) {
			overflow-x: auto;
		}
	}
	th,
	td {
		text-align: center;
		padding: 22px;
		@include respond(big-phone) {
			padding: 10px 5px;
		}
	}

	&__header {
		// display: grid;
		// grid-template-columns: 4fr 2fr 2fr 1fr 2fr;
		font-family: Glacial Indifference;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: #222f2b;
		padding: 10px 0;
		justify-items: flex-start;
		//   grid-column-gap: 10px;
	}

	&__body--box {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		padding: 10px 0;
		justify-items: flex-start;
		border-top: 0.5px solid #7777774f;
		@include respond(big-phone) {
			font-size: 13px;
		}
	}

	.OrderTable__body--name {
		display: flex;
		align-items: center;
		img {
			width: 40%;
		}
		p {
			text-align: left;
			white-space: nowrap;
			@include respond(big-phone) {
				white-space: pre-line;
			}
		}
	}
}

p.OrderTable__body--price {
	display: flex;
	align-items: center;
}

.MuiTooltip-tooltip {
	font-size: 1.2rem !important;
	font-weight: 400 !important;
	letter-spacing: 1px !important;
}