.color-circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
}
.FilterByColor{
    padding: 15px 0;
}
.colorbox{
    p{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #374D47;
    }
}
.number-div{
    width: 30px;
    height: 16px;
    border: 1px solid #9AB7AE;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    text-align: center;
    border-radius: 20px;
}
.FilterBycolorBox{
    width: 100%;
    margin: 15px 0;
}
.FilterBycolorBox-row{
    margin: 10px 10px;
}