.MuiTabs-flexContainer {
  justify-content: space-evenly;
}

.PrivateTabIndicator-colorSecondary-5 {
  background-color: #222F2B !important;
}

#vertical-tabpanel-0 {
  width: 100%;
}

[role=tabpanel] {
  width: 100%;
}